#hr{clear:both;}
footer{
    width:1210px;
    text-align:center;
    margin:-25px auto;
}
footer p,ul{
    margin:0;
}
.footer-p{
    clear:both;
    color:#666666;
}
#footer>li{
    list-style:none;
    display:inline;
}
#footer>li a{
    text-decoration: none;
    color: #666666;
}