#logo p{
  color:#fff !important;
  font-size:20px;
  font-weight:bold;
  font-family:雅黑;}

#logo p span {
  display:inline-block;
  position:relative;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-perspective:500;
          perspective:500;
  -webkit-font-smoothing:antialiased;
}
#logo p span::before,
#logo p span::after {
  display:none;
  position:absolute;
  top:0;
  left:-1px;
  -webkit-transform-origin:left top;
      -ms-transform-origin:left top;
          transform-origin:left top;
  -webkit-transition:all ease-out 0.3s;
          transition:all ease-out 0.3s;
  content:attr(data-text);
}
#logo p span::before {
  z-index:1;
  color:rgba(0,0,0,0.2);
  -webkit-transform:scale(1.1, 1) skew(0deg, 20deg);
      -ms-transform:scale(1.1, 1) skew(0deg, 20deg);
          transform:scale(1.1, 1) skew(0deg, 20deg);
}
#logo p span::after {
  z-index:2;
  color:#4b6cf3;
  text-shadow:-1px 0 1px #684da3, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform:rotateY(-40deg);
          transform:rotateY(-40deg);
}

#logo p span:hover::after {
  -webkit-transform:rotateY(-10deg);
          transform:rotateY(-10deg);
}

@media (min-width:20em) {
  #logo p {
    font-size:2em;
  }
  #logo p span::before,
  #logo p span::after {
    display:block;
  }
}
@media (min-width:30em) {
  #logo p {
    font-size:40px;
    display: inline-block;
    margin:-8px 30px;
  }
}