body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
    margin:0;
    padding:0;
	font-size:14px;
}
img{
	vertical-align:middle;
}
a{
	text-decoration:none;
}
input:focus{
	outline:none;
	box-shadow:2px 2px 2px #999;
}
h1,h2,h3,h4,h5,h6,dl,dd,dt,ul,li,p{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
}
@font-face {
  font-family: hwhp;
  src: url('../font/STHUPO.TTF');
}
#main,
#foot,#top,#nav,#navitems{
	width:1210px;
	margin:0 auto;
	box-sizing:border-box;
}
#main:after,
#nav>ul.navCatalog,#top,#top div.titleright ul:after,#top:after,#nav:after{
	content:"";
	display:block;
	clear:both;
}
#top div.titleImg{
	float:left;
	width:160px;
	height:70px;
}
#top div.titleright{
	float:right;
	width:800px;
}
#navCollection{
	float:right;
}
#top div.titleright>ul>li{
	float:left;
	padding-left:5px;
	height:33px;
	line-height:33px;
}
/***鐧婚檰娉ㄥ唽**********************************/
#register>a,#load>a{
	color: #FA170A !important;
	padding-top: 1px;
}
#load>div.load{
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}
#load>div.load>div.loadmain{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -165px;
	margin-left: -200px;
	width: 400px;
	min-height: 330px;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;
}
#load>div.load>div.loadmain>span{
	position: absolute;
	top: -5px;
	right: 3px;
	font-size: 30px;
	color:#ccc;
}
#load>div.load>div.loadmain>span:hover{
	color:#000;
	cursor: pointer;
}
#load>div.load>div.loadmain>h1{
	margin: 10px 0;
	display: block;
	text-align: center;
}
#load>div.load>div.loadmain>input{
	display:block;
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 20px;
	padding-left: 20px;
	font-size: 20px;
	width: 100%;
	height: 35px;
	line-height: 35px;
}
#load>div.load>div.loadmain>div.btn{
	text-align: center;
}
#load>div.load>div.loadmain>div.btn>button{
	width: 250px;
	height: 30px;
	margin-top: 10px;
	border-radius: 5px;
}
#load>div.load>div.loadmain>div.btn>p{
  text-align: right;
  height: 20px;
  margin-right: 20px;
}
#load>div.load>div.loadmain>div.loadtype{
	position: relative;
}
#load>div.load>div.loadmain>div.loadtype>span{
	font-size: 16px;
	display: block;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 10px;
	border-bottom: 1px solid #999;
}
#load>div.load>div.loadmain>div.loadtype>ul{
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -100px;
}
#load>div.load>div.loadmain>div.loadtype>ul>li{
	float: left;
	margin: 5px;
}
#load>div.load>div.loadmain>div.loadtype>ul>li>a>b{
	display: block;
	width: 40px;
	height: 40px;
	top:0;
}
#loadwx>a>b{
	background: url("../images/load/loadwx.png") no-repeat;
}
#loadwb>a>b{
	background: url("../images/load/loadwb.png") 0 -40px no-repeat;
}
#loadqq>a>b{
	background: url("../images/load/loadwb.png") 0 -80px no-repeat;
}
#loadph>a>b{
	background: url("../images/load/loadwb.png") 0 -120px no-repeat;
}
/***鎾斁璁板綍***********************************/
#search>li.btn_record{
	position: relative;
}
#search>li.btn_record:hover div.playlist{
	display: block;
}
div.playlist{
	position: absolute;
	top: 34px;
	left: 2px;
	z-index: 20;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	width: 200px;
	min-height: 80px;
	max-height: 200px;
	box-sizing: border-box;
	padding: 10px;
}
/***********************************************/
#top div.titleright>ul>li:before{
	content:"";
	display:table;
}
#navCollection>li b{
	display:inline-block;
	margin-top:5px;
	width:18px;
	height:18px;
	position:relative;
	top:3px;
}
#navCollection>li>a{
	display:inline-block;
	color:#666;
}
#navCollection>li>a:hover{
	text-decoration:underline;
	color:#04AFF5;
}
#desk>a>b{
	background:url('../images/tog_01.jpg') no-repeat;
}
#coll>a>b{
	background:url('../images/tog_02.png') no-repeat;
}
#message>a>b{
	background:url('../images/tog_03.png') no-repeat;
}
#blog>a>b{
	background:url('../images/tog_04.png') no-repeat;
}
#search{
	clear:right;
	margin-right:50px;
	height:40px;
}
#search>li>input{
	margin:0;
	padding:0 20px;
	width:400px;
	height:30px;
	box-sizing:border-box;
	border:1px solid #04AFF5;
	border-radius:5px;
}
#top #search>li{
	margin-left:5px;
	padding:2px 5px;
	height:40px;
	line-height:30px;
}
#search>li.btn_search>a{
	display:inline-block;
	padding:0 10px;
	border:1px solid #666;
	background-color:#F5F5F5;
	border-radius:5px;
	color:#000;
}
#search>li.btn_record>a{
	display:inline-block;
	padding:0 10px;
	box-sizing:border-box;
	height:32px;
	line-height:32px;
	border:1px solid #2E8EDB;
	border-radius:5px;
	color:#0D519C;
}
#search>li.btn_record>a>b{
	display:inline-block;
	position:relative;
	top:5px;
	width:20px;
	height:20px;
	background:url('../images/record.jpg') no-repeat;
}
#nav{
	height:40px;
	background-color:#4B6CF3;
}
#nav>ul.navCatalog>li{
	float:left;
}
#nav>ul.navCatalog>li>a{
	font-size:18px;
	height:40px;
	color:#fff;
	margin:0 10px;
	line-height:40px;
	padding:0 10px;
}
#nav>ul.navCatalog>li:hover{
	background-color:#3146DB;
}
#navitems{
	height:30px;
}
#navitems:after{
	content:"";
	display:block;
	clear:both;
}
#navitems>ul>li{
	float:left;
	padding-right:10px;
	margin-left:10px;
	margin-top:5px;
	border-right:1px solid #666;
}
#navitems>ul>li:first-child,#navitems>ul>li:last-child{
	border:none;
	padding-right:0;
}
#navitems>ul>li:first-child>a{
	color:#1540F0;
}
#navitems>ul>li:not(:first-child)>a{
	color:#666;
}
#navitems>ul:after{
	content:"";
	display:block;
	clear:both;
}
#navitems>ul{
	float:left;
	width:50%;
}

#foot{
	border-top:2px solid #aaa;
}
#foot>p{
	height:15px;
	line-height:15px;
	text-align:center;
	margin:5px 0;
}
#foot>p>a{
	display:inline-block;
	height:15px;
	line-height:15px;
	padding:0 10px;
	color:#666;
}
/****************************************************/
#main>div.waterfall{
	position: relative;
}
#main>div.waterfall>div{
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	width: 20%;
	opacity: 0;
	transition: all 0.5s linear;
}
#main>div.waterfall>div.in{
	opacity: 1;
}
#main>div.waterfall>div>a{
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #666;
}
#main>div.waterfall>div>a>p{
	padding: 10px 15px;
	display: block;
	text-align: justify;
	color: #005ea7;
}

#main>div.waterfall>div>a>img{
	width: 180px;
	height: 250px;
}
#main>div.waterfall>div.out>a>img{
	-webkit-filter:grayscale(100%) !important;
	filter:grayscale(100%) !important;
}