*{margin:0;padding:0;}
#head{
    width:1200px;
    margin:0 auto;
}
#head ul{
    list-style:none;
    margin-top:10px;
}
#head .reg-list{
    float:right;
}
.reg-list li{
    float:left;
    margin-right:5px;
}
.reg-list li:first-child a,.reg-list li:nth-child(2) a{
    color:#f00;
}
.reg-list li:first-child a:hover,.reg-list li:nth-child(2) a:hover{
    text-decoration: underline;
}
.reg-list li a,.family ul li a{
    text-decoration:none;
    font-size:14px;
}
.reg-list li:nth-child(3) a:hover,.reg-list li:nth-child(4) a:hover,.reg-list li:nth-child(5) a:hover,.reg-list li:nth-child(6) a:hover{
    color:#04AFF5;
    text-decoration: underline;
}
.reg-list li img,.reg-list li a{
    vertical-align: middle;
}
#head .search_input{
    margin:40px 0 0 83px;
    width:400px;height:30px;
    border:1px solid #04AFF5;
    border-radius:5px;
    padding:0px 20px;
}
#head .search,#head .play_record{
    display:inline-block;
    width:50px;
    height:32px;
    background:#f5f5f5;
    border:1px solid #ddd;
    text-align:center;
    line-height:32px;
    text-decoration:none;
    border-radius:5px;
    font-size:14px;
    float: right;
    margin-bottom: 10px;
}

#head .play_record{
    background: #ffffff;
    width:98px;
    color:#0D519C;
    border:1px solid #2E8EDB;
}
#head .play_record>img,#head .play_record>span{
    vertical-align: middle;
}

.list{
    float: right;
    margin-right: 70px;
    margin-top: 8px;
}
.pictxt{
    z-index: 20;
    display: relative;
    
}
.list .pictxt{
    display: none;
}
.list:hover .pictxt{
    display: block;
}
.search_history{
    z-index: 100;
    width: 200px;
    max-width: 200px;
    min-height: 60px;;
    top: 0px;
    left: 10px;
    background:#fff;
    position:relative;
    border-radius: 5px;
    font-size: 10px;
    padding-top:10px;
    padding-left: 8px;
    border: 1px solid #aaaaaa;
}
.nav{
    width:1200px;
    height:40px;
    background:#4b6cf3;
    margin-top:10px;
}
.nav ul li{
    list-style:none;
    float:left;
    font-size:18px;
}
.nav ul li a{
    display: inline-block;
    margin: 0px 10px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    text-decoration:none;
}
.nav ul li:hover{
    background: #0000ff;
}
.family{
    width:1200px;
    height:10px;
}
.family>ul{
    clear:both;
}
.family ul li{
    list-style:none;
    margin:8px 8px;
    color:#000;
    font-size:15px;
    float:left;
}
.family>ul>li:first-child a{
    color:#1540F0;
}
.family>ul>li:nth-child(11) a{
    margin-left:100px;
    color:#1540F0;
}


div.load{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
div.load>div.loadmain{
    width: 400px;
    min-height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -200px;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    
}
.reg-list li a{
    text-decoration: none !important;
}
div.load>div.loadmain .close{
    color: #ccc;
    font-size: 30px;
    position: absolute;
    top: -5px;
    right: 3px;
}
div.load>div.loadmain h1{
    text-align: center;
    margin:20px;
}
div.load>div.loadmain span,div.load>div.loadmain h1{
    color: #666666;
}
div.load>div.loadmain input{
    width: 340px !important;
    height: 35px !important;
    margin:10px 0;
    line-height: 35px;
    padding-left: 20px;
    font-size: 20px;
    
}
div.btn{
    text-align: center;
}
div.btn button{
    width: 250px;
    height: 30px;
    
}
div.btn p{
    float: right;
    
}
div.btn p a{
    color:#551a8b !important;
    font-size: 14px;
}
.loadtype span{
    display: inline-block;
    float: left !important;
    border-bottom: 1px;
    margin-left: 10px;
    margin-top: 25px;
}
.loadtype hr{
    clear: both;
}
#loadwx a b{
    display: block;
    position: relative;
    background: url(../img/loadwx.png) 0 -80px no-repeat;
}